body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #54667a;
  font-weight: 300;
}

#main-wrapper {
  width: 100%;
}

.navbar-header {
  line-height: 65px;
}

.gradient {
  background: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
}
